<footer>
    <p>Desarrollado por Martin Norton</p>
    <div style="display: flex; justify-content: center; gap: 15px; margin-top: 10px;">
        <a href="https://github.com/Martin-Norton" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
                alt="GitHub Logo">
        </a>
        <a href="https://x.com" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/X_logo_2023.svg/640px-X_logo_2023.svg.png"
                alt="X Logo">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram Logo">
        </a>
    </div>
</footer>