<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="/images/met.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- hoja de estilos general -->
    <link rel="stylesheet" href="/css/error.css"> <!-- hoja de estilos especifica de la vista -->
</head>
<body>
    <div class="error-container">
        <h1>Ocurrió un Error</h1>
        <p><%= error %></p>
        <a href="/">Volver a la página principal</a>
    </div>
    <!-- se incluye el pie de pagina mediante el archivo partials/footer.ejs  -->
    <%- include('partials/footer') %>
</body>
</html>
