/* Estilos para la vista error */
.error-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-container p {
    font-size: 1rem;
    color: #555;
}

.error-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b31b1b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    transition: background-color 0.3s;
}

.error-container a:hover {
    background-color: #dc4d4d;
}